.center-container {
    position: relative;
    margin: 10px auto;
    width: 800px;
    height: 500px;
    overflow: hidden;
    border: 1px solid #dcbaff;
}
.center-container .content {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.center-container2 {
    position: relative;
    margin: 10px auto;
    width: 800px;
    height: 500px;
    overflow: hidden;
    border: 1px solid #dcbaff;
}
.center-container2 .content {
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
